body {
    background: linear-gradient(-45deg, pink, maroon, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-size: 4rem;
    text-decoration: none;
    color: white;

}

a:visited {
    text-decoration: none;
    color: white;

}

button {
    border-radius: 6px;
    font-size: 1.3rem;
    opacity: 0.8;
    font-weight: bold;
    background-color: white;

}

input {
    font-size: 1.3rem;
    border-radius: 6px;
} 

button:hover{
    scale: 1.05;
    opacity: 1;
    cursor: pointer;
}

p {
    font-weight: bold;
}

